*{
	margin:0;
	padding:0;
}
a[href*="www.cnzz.com/stat/website.php"] {
	display: none;
}
#content{
	display: none;
}
html,body{
	width: 100%;
	color: #cd8b56;
	height: 100%;
	overflow: hidden;
	background-color: #eee;
	font-size: 12px;
}
.content{
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 680px;
	background-color: #040000;
}
.audio-source{
	display: none;
}
#music{
	position: absolute;
	z-index: 100;
	display: block;
	top: 10px;
	right: 10px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	background: url("../img/music.png");
	background-position:36 0px;
}

.container,.swiper-container {
	text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.swiper-container-scrollbar .swiper-slide{
		height: auto;
}
.page1,.page2,.page3,.page4,.page5,.page6{
	position: relative;
}
.fot_arrow{
	width: 100%;
	height: 55px;
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: top;
	z-index: 1001;
}
.arrow{
	position: absolute;
	top: 0;
	margin: 0 auto;
	width:35px;
	height:100%;
	left: 50%;
	margin-left: -17px;
}
.arrow img{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 35px;
	height: 35px;
	animation: arrow infinite 1.5s ease-in-out;
}

@keyframes arrow{
	0%,
	30%{opacity:0;-webkit-transform:translate(0,10px)}
	60%{opacity:1;-webkit-transform:translate(0,0)}
	100%{opacity:0;-webkit-transform:translate(0,0)}
	}
.bt_bg{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height:100%;
}
img{
	width:100%;
	height:100%;
}

.page1 .logo{
	position: absolute;
	font-size: 15px;
}
.page1 .kofuf{
	position: absolute;
	top:1.2rem;
	font-size: 24px;
	width: 100%;
}
.page1 .title{
	position: absolute;
	top:2.5rem;
	font-size: 28px;
	left: 50%;
	width: 200px;
	margin-left: -100px;
}
.page1 .img{
	position: absolute;
	font-size: 40px;x`
	height: 282px;
	width: 5rem;
	left: 50%;
	bottom: 2.1rem;
	margin-left: -2.5rem;
}
.page1 .time{
	position: absolute;
	bottom:1.5rem;
	font-size: 14px;
	width: 100%;
	text-align: center;
}
.page1 .address{
	position: absolute;
	bottom:1rem;
	font-size: 14px;
	text-align: center;
	width: 100%;
}
.page1 .line{
	position: absolute;
	bottom:0rem;
	text-align: center;
	width: 100%;
}
.page2 .p1{
	margin-top:1rem;
	font-size: 14px;
	width: 120%;
	margin-left: -10%;
	text-align: center;
}
.page2 .p2{
	width: 120%;
	margin-left: -10%;
	margin-top:0.5rem;
	font-size: 14px;
	text-align: center;
}
.page2 .p3{
	width: 120%;
	margin-left: -10%;
	margin-top:0.3rem;
	font-size: 14px;
	text-align: center;
}
.page2 .p4{
	width: 120%;
	margin-left: -10%;
	margin-top:0.3rem;
	font-size: 14px;
	text-align: center;
}
.page2 .p5{
	width: 120%;
	margin-left: -10%;
	margin-top:0.3rem;
	font-size: 14px;
	text-align: center;
}
.page2 .line{
	position: absolute;
	bottom:0rem;
	text-align: center;
	width: 100%;
}
.page2 img{
	width: 100%;
}
.page3 {
	height: 100%;
}
.page3 .p1{
	font-size: 14px;
	width: 100%;
	text-align: center;
}
.page3 .bg{
	position: absolute;
}
.page3 .wz{
	width: 100%;
	position: absolute;
}
.page3 .wz img{
	margin: 0 auto;
	display: block;
}
.page3 img{
	width: 100%;
	height: 100%;
}



#btn{
	display:block;
	color:#cd8b56;
	text-align: center;
	position: absolute;
	bottom: 1rem;
	width: 100px;
	height: 40px;
	border-radius: 3px;
	background-color: #fff;
	margin-left: -50px;
	line-height: 40px;
	font-size: 20px;
	left: 50%;
	text-decoration:none;
}
